// .about{
//     border: 1px solid black;
//     // font-size: 3rem;
//     line-height: 1.3;
//     height: 100%;
//     width: 90%;
//     margin: auto;
//     padding-top: 4rem;
//     position: relative;
//     @include media('<=phone') {
//         // display: none;
//          background-color: yellow;
//          width: 95%;
// }

//     &__wrapper{
//         width: 83%;
//         height:90%;
//         margin: auto;
//         border: 1px solid black;
//         // display: flex;
//         // flex-wrap: wrap;
//         // align-content: space-around;
       
    
//         @include media('<=phone') {
        
//             background-color: red;
//             width: 100%;
//         }
//         @include media('>phone','<=tablet') {
//              width: 70%;
//         }
//     }
//     &__description{
//         border: 1px solid blue;
//        font-size: 3rem;
//         white-space: pre;
//        // width: 59rem;
//         // width: 40%
//         // flex-grow: 1;
//         // flex-basis: 50%;
//     //     @include media('<=tablet') {
//     //         font-size: 1.7rem;
//     //    }
//     }
//     &__media--one{
//         border: 1px solid green;
//         height: 25.7rem;
//     //     // width: 40%;
//      position: relative;
//       width: 30rem;
      
      
//        &--image{
//         @extend %cover;
//         object-fit: cover
//        }
        
//     }
//     &__media--two{
//         border: 1px solid purple;
       
//         flex-basis: 50%;
//     }

//     &__learnmore{
//         border: 1px solid yellow;
      
//         flex-basis: 50%;
//     }
// }

// .about__wrapper{
//     width: 83%;
//     height:90%;
//     margin: auto;
//     border: 1px solid black;

//     @include media('<=phone') {
//                 // display: none;
//                  background-color: red;
//                  width: 100%;
//     }
//     @include media('>phone','<=tablet') {
//          width: 70%;
//     }
// }

.about{
    height: 100%;
    border: 1px solid black;
    position: relative;

    &__title{
        font-size: 4rem;
        margin: 5rem;

        @include media('<=tablet') {
            font-size: 3rem;
            margin: 3rem;
         }
    }
    &__wrapper{
        border: 1px solid black;
        max-width: 150.5rem;
        margin: auto;
        height: 30%;
        display: flex;
        position: relative;
        @include media('<=phone') {
            background-color: peru;
            width: 94%;
         }

         @include media('>phone','<=tablet') {
            width: 69%;
            background-color: green;
         }

         @include media('>tablet') {  
            background-color: orchid;
         }
        
    }
    &__description{
        border: 1px solid black;
        font-size:3rem;
        align-self: center;
        z-index: 2;
        @include media('>tablet') {  
            font-size:4.5rem;
         }
       
    }
    &__media--one{
        border: 1px solid red;
        height: 20.7rem;
        margin: 0 4rem;
        align-self: center;
        position: absolute;
        width: 18rem;
        right: 0;
        z-index: 1;

        @include media('>tablet') {  
            border: 1px solid red;
            height: 30.7rem;
            width: 28rem;
            right: 46.5rem;

         }

        &--image{
            @extend %cover;
            object-fit: cover
        }
    }
}

// border: 1px solid red;
// height: 30.7rem;
// margin: 0 4rem;
// align-self: center;
// position: absolute;
// width: 28rem;
// right: 38rem;
// z-index: 1;
// }